{% extends "base.html" %}
{% block title %}Mon Profil{% endblock %}
{% block content %}

<h2>Mon profil</h2>

<img src="{{ user.profile.avatar_url }}" width="80">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit" name="save_profile">Sauvegarder</button>
</form>

<hr>

<h3 style="color:red">Zone dangereuse</h3>

<form method="post">
    {% csrf_token %}
    {{ delete_form.as_p }}
    <button type="submit" name="delete_account">
        Supprimer mon compte
    </button>
</form>


{% endblock %}
